version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gamealt_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - REACT_APP_API_URL=http://localhost:8000/robot
    restart: unless-stopped
    networks:
      - gamealt_net

  db:
    image: postgres:15
    container_name: gamealt_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: gamealt
      POSTGRES_USER: gamealt_user
      POSTGRES_PASSWORD: superpassword
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gamealt_net

volumes:
  postgres_data:

networks:
  gamealt_net:
    driver: bridge
