.robo {
  background-color: #61dafb;
  border: 2px solid #282c34;
  border-radius: 5px;
  position: absolute;
  box-sizing: border-box; 
  transition: top 0.3s linear, left 0.3s linear, transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 2vw, 30px); 
  color: #282c34;
  z-index: 10; 
}